:root {
  font-family            : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-synthesis         : none;
  text-rendering         : optimizeLegibility;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color       : #e2e2f1;
}

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height : 100vh;
}

.centerAbsolutely {
  position : absolute;
  top      : 50%;
  left     : 50%;
  transform: translate3d(-50%, -50%, 0);
}