.sidebarLayout {
    display        : flex;
    padding        : 1rem;
    height         : 100%;
    width          : 100vw;
    gap            : 1rem;
    // align-items : center;
    // padding-left: 1rem;
}

.sidebar {
    display            : flex;
    flex-direction     : column;
    align-items        : center;
    gap                : 1rem;
    width              : 12rem;
    padding            : 2rem 1rem;
    // height          : 96vh;
    background-color   : #494949;
    color              : white;
    border-radius      : 1rem;
}

.orb {
    margin-bottom: 4rem;
    width        : 5rem;
    height       : 5rem;
}

.logo {
    width : 100%;
    height: auto;
}

.mainCard {
    display         : flex;
    flex-direction  : column;
    flex            : 1;
    gap             : 1rem;
    background-color: white;
    border-radius   : 1rem;
    padding         : 2rem 3rem;
}

.mainCard .title {
    font-weight: 600;
    color      : rgba(0, 0, 0, 0.84);
    font-size  : 1.1rem;
}

.newVideoOptionsContainer {
    display  : flex;
    flex-wrap: wrap;
    gap      : 2rem;
}